/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Oct 2023, 14:13:45
    Author     : Chris
*/
/*Bootdey. Bootstrap Template, https://www.bootdey.com/snippets/view/Frequently-Asked-Questions-section#html*/

body{margin-top:20px;
     background-color: #ffffff; /* Set the body background color to white */
     color: #000000; /* Set the text color to black */}
.section_padding_130 {
    padding-top: 130px;
    padding-bottom: 130px;
}
.faq_area {
    position: relative;
    z-index: 1;

}

.faq-accordian {
    position: relative;
    z-index: 1;
    background-color: #f5f5ff;
}
.faq-accordian .card {
    position: relative;
    z-index: 1;
    margin-bottom: 1.5rem;
    background-color: #f5f5ff;
}
.faq-accordian .card:last-child {
    margin-bottom: 0;
    background-color: #f5f5ff;
}
.faq-accordian .card .card-header {
    background-color: #f5f5ff;
    padding: 0;
    border-bottom-color: #ebebeb;
}
.faq-accordian .card .card-header h6 {
    cursor: pointer;
    padding: 1.75rem 2rem;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.faq-accordian .card .card-header h6 span {
    font-size: 1.5rem;
}
.faq-accordian .card .card-header h6.collapsed span {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.faq-accordian .card .card-body {
    padding: 1.75rem 2rem;
}
.faq-accordian .card .card-body p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 575px) {
    .support-button p {
        font-size: 14px;
    }
}


@media only screen and (max-width: 575px) {
    .support-button i {
        font-size: 1rem;
    }
}


@media only screen and (max-width: 575px) {
    .support-button a {
        font-size: 13px;
    }
}