/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19 Sep 2023, 19:02:28
    Author     : Chris
*/
 /*Reference: Designer: Priyanshu28696. Obtained at https://www.mockplus.com/blog/post/bootstrap-navbar-template on 19/09/2023*/
.social-part .fa{
    padding-right:20px;
}
ul li a{
    margin-right: 20px;
}


 /*Reference: Designer: Priyanshu28696. Obtained at https://www.mockplus.com/blog/post/bootstrap-navbar-template on 19/09/2023*/